# SQLAlchemy
* SQLAlchemy is a popular Python SQL toolkit and Object Relational Mapper (ORM) that provides an efficient way to interact with relational databases. It allows developers to write Python code instead of raw SQL queries to interact with databases, making it easier to manage database operations.

## When to Use SQLAlchemy?
* If you want to write database-independent code.
* If you need an efficient way to manage database connections.
* If you prefer working with Python objects instead of raw SQL queries.
* If you need to handle complex database relationships.

# You can install SQLAlchemy using

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.14.0)

In [2]:
from sqlalchemy import create_engine,Column,Integer,String
from sqlalchemy.orm import declarative_base,sessionmaker

db_url = "sqlite:///example.db" # database path

# Database connection
# Create a database connection (SQLite in this case)
engine = create_engine(db_url)     # Connects to an SQLite database file named 'example.db'

# Create a base class for ORM models
Base = declarative_base()  # Used to define ORM models

# Define a User model (mapped to a table)
class User(Base):
    __tablename__ = "users"  # Define the table name in the database

    id = Column(Integer, primary_key=True)  # Primary key column (unique identifier)
    name = Column(String)  # Column for storing user names as text
    age = Column(Integer)  # Column for storing user ages as integers

# Create the table in the database (if it doesnâ€™t exist)
Base.metadata.create_all(engine)  # Generates SQL commands to create tables based on ORM models

# Create a session to interact with the database
Session = sessionmaker(bind=engine)  # Bind the session to the database engine
session = Session()  # Create a new session instance

# Create a new user object
new_user = User(name="Alice", age=25)  # Instantiate a new User object with name and age
user_1=User(name="Alamgir",age=24)     # User object with name and age
user_2=User(name="Rhamin",age=15)      # User object with name and age
user_3=User(name="John",age=34)        # User object with name and age

# Add the new user to the session (staging for commit)
session.add(new_user)  # Adds the user instance to the session
session.add_all([user_1,user_2,user_3])

# Commit the transaction (saves changes to the database)
session.commit()  # Executes SQL INSERT command to store the user in the database

# Read the user

In [3]:
users = session.query(User).all()  # Retrieves all User objects from the database

# Iterate over the retrieved users and print their details
for user in users:
    print(user.name, user.age)  # Print each user's name and age

Alice 25
Alamgir 24
Rhamin 15
John 34

In [4]:
Users = session.query(User).filter_by(id=3).one_or_none() # to find the specific element
print(Users)
print(Users.id)
print(Users.name)
print(Users.age)

<__main__.User object at 0x7f381cd17a90>
3
Rhamin
15

# Update the user

In [5]:
Users = session.query(User).filter_by(id=3).one_or_none() # to find the specific element
print(Users)
print(Users.name)
Users.name="Alamgir"                                   # change the name
print(Users.name)
session.commit()

<__main__.User object at 0x7f381cd17a90>
Rhamin
Alamgir

# Delete the user

In [6]:
Users = session.query(User).filter_by(id=2).one_or_none() # to find the specific element
print(Users)
session.delete(Users)                                     # delete the spcific row
session.commit()

<__main__.User object at 0x7f381cd33290>

# add or insert the user

In [7]:
import random
from sqlalchemy.orm import declarative_base,sessionmaker

Session = sessionmaker(bind=engine)
session=Session()
names = ["Alam", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ian", "Jack"]
ages = [12, 25, 30, 22, 19, 27, 35, 29, 24, 40]
for x in range(15):                            #take the random name and age and add to tabel
    user = User(name=random.choice(names),age=random.choice(ages))
    session.add(user)

session.commit()

In [8]:
users = session.query(User).all()  # Retrieves all User objects from the database

# Iterate over the retrieved users and print their details
for user in users:
    print(user.name, user.age)  # Print each user's name and age

Alice 25
Alamgir 15
John 34
Hannah 27
Bob 40
Jack 29
Charlie 29
Hannah 25
Alam 24
Bob 19
Ian 19
Eve 22
Frank 25
Bob 29
Grace 19
Bob 27
Eve 22
Frank 35

# query all user order by age (ascending order)

In [9]:
# query all user order by age (ascending order)
users = session.query(User).order_by(User.age).all()
for user in users:
    print(user.name, user.age)  # Print each user's name and age

Alamgir 15
Bob 19
Ian 19
Grace 19
Eve 22
Eve 22
Alam 24
Alice 25
Hannah 25
Frank 25
Hannah 27
Bob 27
Jack 29
Charlie 29
Bob 29
John 34
Frank 35
Bob 40

In [10]:
Session=sessionmaker(bind=engine)
session=Session()
# query all users
all_users = session.query(User).all()

for user in all_users:
    print(user.id,user.name,user.age)

1 Alice 25
3 Alamgir 15
4 John 34
5 Hannah 27
6 Bob 40
7 Jack 29
8 Charlie 29
9 Hannah 25
10 Alam 24
11 Bob 19
12 Ian 19
13 Eve 22
14 Frank 25
15 Bob 29
16 Grace 19
17 Bob 27
18 Eve 22
19 Frank 35

# query all user age greater than or equal to 25

In [11]:
# query all user age greater than or equal to 25
filter_query = session.query(User).filter(User.age>=25).all()
print(len(filter_query))
for user in filter_query:
    print(user.id,user.name,user.age)

11
1 Alice 25
4 John 34
5 Hannah 27
6 Bob 40
7 Jack 29
8 Charlie 29
9 Hannah 25
14 Frank 25
15 Bob 29
17 Bob 27
19 Frank 35

# condition to find specific user

In [12]:
# query all user age greater than or equal to 25
filter_query = session.query(User).where(User.age>=25).all()
print(len(filter_query))
for user in filter_query:
    print(user.id,user.name,user.age)

11
1 Alice 25
4 John 34
5 Hannah 27
6 Bob 40
7 Jack 29
8 Charlie 29
9 Hannah 25
14 Frank 25
15 Bob 29
17 Bob 27
19 Frank 35

# or_ for giving condition

In [13]:
from sqlalchemy import or_

#logic or operation print all user that meet any condition
filter_query = session.query(User).where(or_(User.age>=25,User.name=="Alamgir")).all()
print(len(filter_query))
for user in filter_query:
    print(user.id,user.name,user.age)

12
1 Alice 25
3 Alamgir 15
4 John 34
5 Hannah 27
6 Bob 40
7 Jack 29
8 Charlie 29
9 Hannah 25
14 Frank 25
15 Bob 29
17 Bob 27
19 Frank 35

# and_ for giving condition

In [14]:
from sqlalchemy import and_         #and operation for giving condition

#logic and operation print all user that meet both condition
filter_query = session.query(User).where(and_(User.age>=24,User.name=="Alamgir")).all()
print(len(filter_query))
for user in filter_query:
    print(user.id,user.name,user.age)

0

# Grouping and chaining

### SQL
* SELECT age
* FROM users
* GROUP BY age

In [15]:
from sqlalchemy import func
#Group user by age
users = session.query(User.age).group_by(User.age).all()
print(users)

user = session.query(User.age,func.count(User.id)).group_by(User.age).all()
print(user)

#group by name
user = session.query(User.name,func.count(User.id)).group_by(User.name).all()
print(user)

[(15,), (19,), (22,), (24,), (25,), (27,), (29,), (34,), (35,), (40,)]
[(15, 1), (19, 3), (22, 2), (24, 1), (25, 3), (27, 2), (29, 3), (34, 1), (35, 1), (40, 1)]
[('Alam', 1), ('Alamgir', 1), ('Alice', 1), ('Bob', 4), ('Charlie', 1), ('Eve', 2), ('Frank', 2), ('Grace', 1), ('Hannah', 2), ('Ian', 1), ('Jack', 1), ('John', 1)]

### SQL
* SELECT age, count(id)
* FROM user
* WHERE age>24 and age<35
* GROUP BY age
* ORDER BY "age";

In [16]:
from sqlalchemy import func

users_tuple=(
    session.query(User.age,func.count(User.id))
    .filter(User.age>24)
    .order_by(User.age)
    .filter(User.age<35)
    .group_by(User.age)
    .all()
)

for age, count in users_tuple:
    print(f"age : {age} - {count} users")

age : 25 - 3 users
age : 27 - 2 users
age : 29 - 3 users
age : 34 - 1 users

### SQL
* SELECT *
* FROM users
* WHERE name=="Alamgir"
* GROUP BY age;

In [17]:
only_name=True
group_by_age=True

users=session.query(User)

if only_name:
    users=users.filter(User.name=="Alamgir")

if group_by_age:
    users=users.group_by(User.age)

users=users.all()
for user in users:
    print(f"user age : {user.age} user name :{user.name}")

user age : 15 user name :Alamgir

# Python SQLAlchemy ORM - 1 to MANY Relationships

### One User â†’ Many Addresses
* Each User can have multiple Address records.
* The addresses relationship in User establishes this connection.
* The user_id foreign key in Address links each address to a specific user.

In [18]:
from sqlalchemy import Column, ForeignKey, Integer, String, create_engine
from sqlalchemy.orm import declarative_base, sessionmaker, relationship

# Database Connection
bd_url = "sqlite:///database1.db"
engine = create_engine(bd_url, echo=False)  # Set echo=False to hide SQL logs

# Session Setup
Session = sessionmaker(bind=engine)
session = Session()

# Base Model
Base = declarative_base()

class BaseModel(Base):
    """Abstract Base Model with an auto-incrementing primary key."""
    __abstract__ = True
    id = Column(Integer, primary_key=True, autoincrement=True)

# User Model
class User(BaseModel):
    __tablename__ = "users"

    name = Column(String, nullable=False)
    age = Column(Integer, nullable=False)

    # Relationship with Address
    addresses = relationship("Address", back_populates="user", cascade="all, delete-orphan")

    def __repr__(self):
        return f"<User(id={self.id}, name='{self.name}')>"

# Address Model
class Address(BaseModel):
    __tablename__ = "addresses"

    city = Column(String, nullable=False)
    state = Column(String, nullable=False)
    zip_code = Column(String, nullable=False)  # Zip codes can have leading zeros
    user_id = Column(Integer, ForeignKey("users.id"), nullable=False)

    # Relationship with User
    user = relationship("User", back_populates="addresses")

    def __repr__(self):
        return f"<Address(id={self.id}, city='{self.city}', state='{self.state}', zip='{self.zip_code}')>"

# Create tables in the database
Base.metadata.create_all(engine)

# Create Users
user1 = User(name="John Doe", age=52)
user2 = User(name="Jane Smith", age=34)

# Create Addresses
address1 = Address(city="New York", state="NY", zip_code="10001", user=user1)
address2 = Address(city="Los Angeles", state="CA", zip_code="90001", user=user1)
address3 = Address(city="Chicago", state="IL", zip_code="60601", user=user2)

# Add users (which automatically adds addresses due to relationships)
session.add_all([user1, user2])
session.commit()

# Fetch users from the database
users = session.query(User).all()

# Display User and Address Data
for user in users:
    print(f"\nUser -> ID: {user.id}, Name: {user.name}, Age: {user.age}")
    for addr in user.addresses:
        print(f"   Address -> ID: {addr.id}, City: {addr.city}, State: {addr.state}, Zip: {addr.zip_code}")

# Close session
session.close()

User -> ID: 1, Name: John Doe, Age: 52
   Address -> ID: 1, City: New York, State: NY, Zip: 10001
   Address -> ID: 2, City: Los Angeles, State: CA, Zip: 90001

User -> ID: 2, Name: Jane Smith, Age: 34
   Address -> ID: 3, City: Chicago, State: IL, Zip: 60601

In [19]:
# Import necessary SQLAlchemy modules
from sqlalchemy import Column, ForeignKey, Integer, String, create_engine
from sqlalchemy.orm import declarative_base, sessionmaker, relationship

# Database Connection
bd_url = "sqlite:///database2.db"  # Define the SQLite database URL
engine = create_engine(bd_url, echo=False)  # Create the database engine, echo=False to hide SQL logs

# Session Setup
Session = sessionmaker(bind=engine)  # Create a session factory bound to the engine
session = Session()  # Instantiate a session for database operations

# Base Model
Base = declarative_base()  # Create a base class for declarative models

class BaseModel(Base):
    """Abstract Base Model with an auto-incrementing primary key."""
    __abstract__ = True  # Mark this class as abstract (not mapped to a table)
    id = Column(Integer, primary_key=True, autoincrement=True)  # Primary key column with auto-increment

# User Model
class User(BaseModel):  # Inherit from BaseModel
    __tablename__ = "users"  # Define the table name in the database

    name = Column(String, nullable=False)  # Column for storing user names (cannot be NULL)
    age = Column(Integer, nullable=False)  # Column for storing user age (cannot be NULL)

    # Define one-to-many relationship with Address
    addresses = relationship("Address", back_populates="user", cascade="all, delete-orphan")
    # - "back_populates" creates a bidirectional relationship with Address.user
    # - "cascade='all, delete-orphan'" ensures that deleting a user deletes all associated addresses

    def __repr__(self):
        """String representation of a User object."""
        return f"<User(id={self.id}, name='{self.name}')>"

# Address Model
class Address(BaseModel):  # Inherit from BaseModel
    __tablename__ = "addresses"  # Define the table name in the database

    city = Column(String, nullable=False)  # Column for city (cannot be NULL)
    state = Column(String, nullable=False)  # Column for state (cannot be NULL)
    zip_code = Column(String, nullable=False)  # Column for ZIP code (string to allow leading zeros)
    user_id = Column(Integer, ForeignKey("users.id"), nullable=False)  # Foreign key referencing User's id

    # Define many-to-one relationship with User
    user = relationship("User", back_populates="addresses")
    # - "back_populates" links this relationship to User.addresses

    def __repr__(self):
        """String representation of an Address object."""
        return f"<Address(id={self.id}, city='{self.city}', state='{self.state}', zip='{self.zip_code}')>"

# Create tables in the database
Base.metadata.create_all(engine)  # Generate tables based on defined models

# Create Users
user1 = User(name="John Doe", age=52)  # Create a user instance
user2 = User(name="Jane Smith", age=34)  # Create another user instance

# Create Addresses
address1 = Address(city="New York", state="NY", zip_code="10001", user=user1)  # Address linked to user1
address2 = Address(city="Los Angeles", state="CA", zip_code="90001", user=user1)  # Another address for user1
address3 = Address(city="Chicago", state="IL", zip_code="60601", user=user2)  # Address for user2

# Add users (which also adds related addresses due to relationships)
session.add_all([user1, user2])  # Add user instances to the session
session.commit()  # Commit the changes to the database

# Fetch all users from the database
users = session.query(User).all()  # Retrieve all user records

# Display User and Address Data
for user in users:
    print(f"\nUser -> ID: {user.id}, Name: {user.name}, Age: {user.age}")  # Print user details
    for addr in user.addresses:  # Iterate through the user's addresses
        print(f"   Address -> ID: {addr.id}, City: {addr.city}, State: {addr.state}, Zip: {addr.zip_code}")  # Print address details

# Close session
session.close()  # Close the database session

User -> ID: 1, Name: John Doe, Age: 52
   Address -> ID: 1, City: New York, State: NY, Zip: 10001
   Address -> ID: 2, City: Los Angeles, State: CA, Zip: 90001

User -> ID: 2, Name: Jane Smith, Age: 34
   Address -> ID: 3, City: Chicago, State: IL, Zip: 60601

# One-to-One Relationship in SQLAlchemy
* A one-to-one relationship means that each record in one table is associated with exactly one record in another table. In SQLAlchemy, this is implemented using the relationship() function along with a unique=True constraint on the foreign key.

In [20]:
# Import necessary SQLAlchemy modules
from sqlalchemy import Column, ForeignKey, Integer, String, create_engine, UniqueConstraint
from sqlalchemy.orm import declarative_base, sessionmaker, relationship

# Database Connection
bd_url = "sqlite:///database3.db"  # Define the SQLite database URL
engine = create_engine(bd_url, echo=False)  # Create the database engine

# Session Setup
Session = sessionmaker(bind=engine)  # Create a session factory bound to the engine
session = Session()  # Instantiate a session for database operations

# Base Model
Base = declarative_base()  # Create a base class for declarative models

class BaseModel(Base):
    """Abstract Base Model with an auto-incrementing primary key."""
    __abstract__ = True
    id = Column(Integer, primary_key=True, autoincrement=True)  # Primary key column with auto-increment

# User Model (One side of the relationship)
class User(BaseModel):
    __tablename__ = "users"  # Define table name

    name = Column(String, nullable=False)  # Column for user name
    age = Column(Integer, nullable=False)  # Column for user age

    # One-to-One Relationship with Profile
    profile = relationship("Profile", back_populates="user", uselist=False, cascade="all, delete-orphan")
    # - `uselist=False` ensures one-to-one (instead of one-to-many)
    # - `cascade="all, delete-orphan"` deletes Profile when User is deleted

    def __repr__(self):
        return f"<User(id={self.id}, name='{self.name}', age={self.age})>"

# Profile Model (Other side of the relationship)
class Profile(BaseModel):
    __tablename__ = "profiles"  # Define table name

    bio = Column(String, nullable=False)  # Short biography column
    phone = Column(String, nullable=False, unique=True)  # Phone number (must be unique)
    user_id = Column(Integer, ForeignKey("users.id"), nullable=False, unique=True)
    # - `unique=True` ensures each profile is linked to exactly **one** user

    # One-to-One Relationship with User
    user = relationship("User", back_populates="profile")

    def __repr__(self):
        return f"<Profile(id={self.id}, phone='{self.phone}', bio='{self.bio}')>"

# Create tables in the database
Base.metadata.create_all(engine)

# Create Users
user1 = User(name="John Doe", age=52)
user2 = User(name="Jane Smith", age=34)

# Create Profiles (Each user gets exactly one profile)
profile1 = Profile(bio="Software Engineer from NY", phone="123-456-7890", user=user1)
profile2 = Profile(bio="Data Scientist from CA", phone="987-654-3210", user=user2)

# Add users (automatically adding profiles due to relationships)
session.add_all([user1, user2])
session.commit()  # Commit changes to the database

# Fetch users from the database
users = session.query(User).all()

# Display User and Profile Data
for user in users:
    print(f"\nUser -> ID: {user.id}, Name: {user.name}, Age: {user.age}")
    print(f"   Profile -> ID: {user.profile.id}, Bio: {user.profile.bio}, Phone: {user.profile.phone}")

# Close session
session.close()

User -> ID: 1, Name: John Doe, Age: 52
   Profile -> ID: 1, Bio: Software Engineer from NY, Phone: 123-456-7890

User -> ID: 2, Name: Jane Smith, Age: 34
   Profile -> ID: 2, Bio: Data Scientist from CA, Phone: 987-654-3210

# Insert new users and profiles into the existing database

In [21]:
# Insert new users and profiles into the existing database
new_users = [
    User(name="Charlie Brown", age=30),
    User(name="Emily Davis", age=26),
]

new_profiles = [
    Profile(bio="Blockchain Developer from SF", phone="555-111-2222", user=new_users[0]),
    Profile(bio="Cybersecurity Expert from NY", phone="666-333-4444", user=new_users[1]),
]

# Add new users to the session
session.add_all(new_users)

# Commit changes to the database
session.commit()

# Fetch and display all users and profiles to verify insertion
users = session.query(User).all()

for user in users:
    print(f"\nUser -> ID: {user.id}, Name: {user.name}, Age: {user.age}")
    print(f"   Profile -> ID: {user.profile.id}, Bio: {user.profile.bio}, Phone: {user.profile.phone}")

User -> ID: 1, Name: John Doe, Age: 52
   Profile -> ID: 1, Bio: Software Engineer from NY, Phone: 123-456-7890

User -> ID: 2, Name: Jane Smith, Age: 34
   Profile -> ID: 2, Bio: Data Scientist from CA, Phone: 987-654-3210

User -> ID: 3, Name: Charlie Brown, Age: 30
   Profile -> ID: 3, Bio: Blockchain Developer from SF, Phone: 555-111-2222

User -> ID: 4, Name: Emily Davis, Age: 26
   Profile -> ID: 4, Bio: Cybersecurity Expert from NY, Phone: 666-333-4444

# New Table: Orders (Each User can have multiple Orders)

In [22]:
# New Table: Orders (Each User can have multiple Orders)
class Order(BaseModel):
    __tablename__ = "orders"  # Define table name

    order_number = Column(String, unique=True, nullable=False)  # Unique order number
    amount = Column(Integer, nullable=False)  # Order amount
    user_id = Column(Integer, ForeignKey("users.id"), nullable=False)  # Foreign Key to User table

    # Relationship with User
    user = relationship("User", back_populates="orders")

    def __repr__(self):
        return f"<Order(id={self.id}, order_number='{self.order_number}', amount={self.amount})>"

# Add the relationship in the User model
User.orders = relationship("Order", back_populates="user", cascade="all, delete-orphan")
# Create the new "orders" table in the database
Base.metadata.create_all(engine)
# Insert orders for existing users
order1 = Order(order_number="ORD001", amount=200, user=users[0])  # Assigning to first user
order2 = Order(order_number="ORD002", amount=350, user=users[1])  # Assigning to second user
order3 = Order(order_number="ORD003", amount=150, user=users[2])  # Assigning to third user

# Add new orders to the session
session.add_all([order1, order2, order3])

# Commit changes to save data
session.commit()

# Fetch and display all orders
orders = session.query(Order).all()

for order in orders:
    print(f"\nOrder -> ID: {order.id}, Order Number: {order.order_number}, Amount: {order.amount}, User ID: {order.user_id}")

Order -> ID: 1, Order Number: ORD001, Amount: 200, User ID: 1

Order -> ID: 2, Order Number: ORD002, Amount: 350, User ID: 2

Order -> ID: 3, Order Number: ORD003, Amount: 150, User ID: 3

# Fetch all users and their orders

In [23]:
# Fetch all users and their orders
users = session.query(User).all()

for user in users:
    print(f"\nUser -> ID: {user.id}, Name: {user.name}, Age: {user.age}")

    # Print user orders
    for order in user.orders:
        print(f"   Order -> ID: {order.id}, Order Number: {order.order_number}, Amount: {order.amount}")

User -> ID: 1, Name: John Doe, Age: 52
   Order -> ID: 1, Order Number: ORD001, Amount: 200

User -> ID: 2, Name: Jane Smith, Age: 34
   Order -> ID: 2, Order Number: ORD002, Amount: 350

User -> ID: 3, Name: Charlie Brown, Age: 30
   Order -> ID: 3, Order Number: ORD003, Amount: 150

User -> ID: 4, Name: Emily Davis, Age: 26

# Python SQLAlchemy ORM - Many to Many Relationships
* In SQLAlchemy ORM, a many-to-many relationship occurs when multiple records in one table are related to multiple records in another table. This relationship requires an association table (also called a "link table" or "junction table") to store the relationships between the two entities.

In [24]:
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, Table
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import relationship, sessionmaker

# Define the base class for declarative models
Base = declarative_base()

# Association Table for Many-to-Many Relationship between Book and Author
# This table will hold the relationships between books and authors
book_author_association = Table('book_author', Base.metadata,
    Column('book_id', Integer, ForeignKey('books.id'), primary_key=True),
    Column('author_id', Integer, ForeignKey('authors.id'), primary_key=True)
)

# Define the Book class (represents the 'books' table)
class Book(Base):
    __tablename__ = 'books'

    # Primary key column
    id = Column(Integer, primary_key=True)

    # Column for the book title
    title = Column(String)

    # Many-to-Many Relationship: Book to Authors
    # This establishes the many-to-many relationship between books and authors
    authors = relationship("Author", secondary=book_author_association, back_populates="books")

# Define the Author class (represents the 'authors' table)
class Author(Base):
    __tablename__ = 'authors'

    # Primary key column
    id = Column(Integer, primary_key=True)

    # Column for the author's name
    name = Column(String)

    # Many-to-Many Relationship: Author to Books
    # This establishes the many-to-many relationship between authors and books
    books = relationship("Book", secondary=book_author_association, back_populates="authors")

# Create SQLite database and tables in memory (used for quick prototyping)
engine = create_engine('sqlite:///:memory:')  # Using an in-memory SQLite database
Base.metadata.create_all(engine)  # Create tables in the database

# Create a session to interact with the database
Session = sessionmaker(bind=engine)  # Binding session to the engine
session = Session()  # Initialize the session

# Insert sample data into the 'books' and 'authors' tables
book1 = Book(title="Python 101")
book2 = Book(title="Learning SQLAlchemy")
author1 = Author(name="John Doe")
author2 = Author(name="Jane Smith")

# Establish relationships between books and authors
book1.authors = [author1, author2]  # Book 1 has John Doe and Jane Smith as authors
book2.authors = [author1]           # Book 2 has only John Doe as an author

# Add objects to the session and commit the changes to the database
session.add(book1)  # Add book1 to the session
session.add(book2)  # Add book2 to the session
session.add(author1)  # Add author1 to the session
session.add(author2)  # Add author2 to the session
session.commit()  # Commit the session to save changes to the database

# Query and print results

# Query all authors for the book "Python 101"
book = session.query(Book).filter_by(title="Python 101").first()  # Fetch the book object
print(f"Authors of '{book.title}':")  # Print the title of the book
for author in book.authors:  # Loop through each author for the selected book
    print(author.name)  # Print the author's name

# Query all books written by "John Doe"
author = session.query(Author).filter_by(name="John Doe").first()  # Fetch the author object
print(f"\nBooks written by {author.name}:")  # Print the author's name
for book in author.books:  # Loop through each book for the selected author
    print(book.title)  # Print the book's title

# Query all books written by "Jane Smith"
author = session.query(Author).filter_by(name="Jane Smith").first()  # Fetch the author object
print(f"\nBooks written by {author.name}:")  # Print the author's name
for book in author.books:  # Loop through each book for the selected author
    print(book.title)  # Print the book's title

Authors of 'Python 101':
John Doe
Jane Smith

Books written by John Doe:
Python 101
Learning SQLAlchemy

Books written by Jane Smith:
Python 101

In [25]:
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, Table
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import relationship, sessionmaker

# Define the base class for declarative models
Base = declarative_base()

# Association Table for Many-to-Many Relationship between Book and Author
# This table will hold the relationships between books and authors
book_author_association = Table('book_author', Base.metadata,
    Column('book_id', Integer, ForeignKey('books.id'), primary_key=True),
    Column('author_id', Integer, ForeignKey('authors.id'), primary_key=True)
)

# Define the Book class (represents the 'books' table)
class Book(Base):
    __tablename__ = 'books'

    # Primary key column
    id = Column(Integer, primary_key=True)

    # Column for the book title
    title = Column(String)

    # Many-to-Many Relationship: Book to Authors
    # This establishes the many-to-many relationship between books and authors
    authors = relationship("Author", secondary=book_author_association, back_populates="books")

# Define the Author class (represents the 'authors' table)
class Author(Base):
    __tablename__ = 'authors'

    # Primary key column
    id = Column(Integer, primary_key=True)

    # Column for the author's name
    name = Column(String)

    # Many-to-Many Relationship: Author to Books
    # This establishes the many-to-many relationship between authors and books
    books = relationship("Book", secondary=book_author_association, back_populates="authors")

# Create SQLite database and tables in memory (used for quick prototyping)
engine = create_engine('sqlite:///my_database2.db')  # Using SQLite database
Base.metadata.create_all(engine)  # Create tables in the database

# Create a session to interact with the database
Session = sessionmaker(bind=engine)  # Binding session to the engine
session = Session()  # Initialize the session

# Insert sample data into the 'books' and 'authors' tables
book1 = Book(title="Python 101")
book2 = Book(title="Learning SQLAlchemy")
author1 = Author(name="John Doe")
author2 = Author(name="Jane Smith")

# Establish relationships between books and authors
book1.authors = [author1, author2]  # Book 1 has John Doe and Jane Smith as authors
book2.authors = [author1]           # Book 2 has only John Doe as an author

# Add objects to the session and commit the changes to the database
session.add(book1)  # Add book1 to the session
session.add(book2)  # Add book2 to the session
session.add(author1)  # Add author1 to the session
session.add(author2)  # Add author2 to the session
session.commit()  # Commit the session to save changes to the database

# Query and print results

# Query all authors for the book "Python 101"
book = session.query(Book).filter_by(title="Python 101").first()  # Fetch the book object
print(f"Authors of '{book.title}':")  # Print the title of the book
for author in book.authors:  # Loop through each author for the selected book
    print(author.name)  # Print the author's name

# Query all books written by "John Doe"
author = session.query(Author).filter_by(name="John Doe").first()  # Fetch the author object
print(f"\nBooks written by {author.name}:")  # Print the author's name
for book in author.books:  # Loop through each book for the selected author
    print(book.title)  # Print the book's title

# Query all books written by "Jane Smith"
author = session.query(Author).filter_by(name="Jane Smith").first()  # Fetch the author object
print(f"\nBooks written by {author.name}:")  # Print the author's name
for book in author.books:  # Loop through each book for the selected author
    print(book.title)  # Print the book's title

Authors of 'Python 101':
John Doe
Jane Smith

Books written by John Doe:
Python 101
Learning SQLAlchemy

Books written by Jane Smith:
Python 101

# Insert more sample data into the 'books' and 'authors' tables

In [26]:
# Insert more sample data into the 'books' and 'authors' tables
book3 = Book(title="Advanced Python Programming")
book4 = Book(title="Introduction to Data Science")
author3 = Author(name="Alice Johnson")
author4 = Author(name="Bob Brown")

# Establish relationships between books and authors
book3.authors = [author1, author3]  # Book 3 has John Doe and Alice Johnson as authors
book4.authors = [author2, author4]  # Book 4 has Jane Smith and Bob Brown as authors

# Add new objects to the session and commit the changes to the database
session.add(book3)  # Add book3 to the session
session.add(book4)  # Add book4 to the session
session.add(author3)  # Add author3 to the session
session.add(author4)  # Add author4 to the session
session.commit()  # Commit the session to save changes to the database

# Query and print results to confirm the data has been added

# Query all authors for the book "Advanced Python Programming"
book = session.query(Book).filter_by(title="Advanced Python Programming").first()
print(f"Authors of '{book.title}':")
for author in book.authors:
    print(author.name)

# Query all books written by "Alice Johnson"
author = session.query(Author).filter_by(name="Alice Johnson").first()
print(f"\nBooks written by {author.name}:")
for book in author.books:
    print(book.title)

# Query all books written by "Bob Brown"
author = session.query(Author).filter_by(name="Bob Brown").first()
print(f"\nBooks written by {author.name}:")
for book in author.books:
    print(book.title)

Authors of 'Advanced Python Programming':
John Doe
Alice Johnson

Books written by Alice Johnson:
Advanced Python Programming

Books written by Bob Brown:
Introduction to Data Science

# Query all books and their authors

In [27]:
# Query all books and their authors
print("Books and their Authors:")
books = session.query(Book).all()  # Fetch all books from the database
for book in books:
    print(f"\nBook: {book.title}")
    print("Authors:")
    for author in book.authors:
        print(f"- {author.name}")

# Query all authors and their books
print("\nAuthors and their Books:")
authors = session.query(Author).all()  # Fetch all authors from the database
for author in authors:
    print(f"\nAuthor: {author.name}")
    print("Books:")
    for book in author.books:
        print(f"- {book.title}")

Books and their Authors:

Book: Python 101
Authors:
- John Doe
- Jane Smith

Book: Learning SQLAlchemy
Authors:
- John Doe

Book: Advanced Python Programming
Authors:
- John Doe
- Alice Johnson

Book: Introduction to Data Science
Authors:
- Jane Smith
- Bob Brown

Authors and their Books:

Author: John Doe
Books:
- Python 101
- Learning SQLAlchemy
- Advanced Python Programming

Author: Jane Smith
Books:
- Python 101
- Introduction to Data Science

Author: Alice Johnson
Books:
- Advanced Python Programming

Author: Bob Brown
Books:
- Introduction to Data Science

# Python SQLAlchemy ORM - Relationship Loading Techniques
* SQLAlchemy provides several ways to manage how related objects are loaded, allowing you to control the performance of your queries and the number of database queries executed. When you work with relationships between tables (e.g., one-to-many, many-to-one), SQLAlchemy offers different techniques to load related objects. These techniques are classified into Lazy Loading, Eager Loading, and Explicit Loading.

In [28]:
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import sessionmaker, relationship, joinedload, subqueryload, selectinload, deferred

# Define the base class for declarative models
Base = declarative_base()

# Define the Parent model
class Parent(Base):
    __tablename__ = 'parents'
    id = Column(Integer, primary_key=True)  # Parent's primary key
    name = Column(String)  # Parent's name
    children = relationship("Child", back_populates="parent")  # Relationship to the Child model

# Define the Child model
class Child(Base):
    __tablename__ = 'children'
    id = Column(Integer, primary_key=True)  # Child's primary key
    name = Column(String)  # Child's name
    parent_id = Column(Integer, ForeignKey('parents.id'))  # Foreign key to Parent
    parent = relationship("Parent", back_populates="children")  # Relationship back to Parent
    description = deferred(Column(String))  # Deferred loading of the description column

# Set up an in-memory SQLite database and create tables
engine = create_engine('sqlite:///loading.db')
Base.metadata.create_all(engine)  # Create the tables in the database
Session = sessionmaker(bind=engine)  # Create a session maker
session = Session()  # Create a session instance

# Create some sample data and add it to the session
parent = Parent(name="Parent 1", children=[Child(name="Child 1", description="Description of Child 1"),
                                            Child(name="Child 2", description="Description of Child 2")])
session.add(parent)  # Add the parent object to the session
session.commit()  # Commit the transaction to the database

# ---------------------------------------------------------
# Example 1: Lazy Loading (Default)
parent_lazy = session.query(Parent).first()  # Query for the first parent
print("Lazy Loading (Default):")
print(f"Parent: {parent_lazy.name}")
# Accessing the children triggers a separate query to load the children
print(f"Children: {[child.name for child in parent_lazy.children]}")

# ---------------------------------------------------------
# Example 2: Eager Loading with `joinedload`
parent_joined = session.query(Parent).options(joinedload(Parent.children)).first()  # Eager load children with joinedload
print("\nEager Loading with joinedload:")
print(f"Parent: {parent_joined.name}")
# Both parent and children are loaded in the same query (via a JOIN)
print(f"Children: {[child.name for child in parent_joined.children]}")

# ---------------------------------------------------------
# Example 3: Eager Loading with `subqueryload`
parent_subquery = session.query(Parent).options(subqueryload(Parent.children)).first()  # Eager load children with subqueryload
print("\nEager Loading with subqueryload:")
print(f"Parent: {parent_subquery.name}")
# Parent is loaded first, and then a separate query is used to load the children
print(f"Children: {[child.name for child in parent_subquery.children]}")

# ---------------------------------------------------------
# Example 4: Eager Loading with `selectinload`
parent_selectin = session.query(Parent).options(selectinload(Parent.children)).first()  # Eager load children with selectinload
print("\nEager Loading with selectinload:")
print(f"Parent: {parent_selectin.name}")
# A second query is issued to load the children, using a WHERE IN clause for efficiency
print(f"Children: {[child.name for child in parent_selectin.children]}")

# ---------------------------------------------------------
# Example 5: Deferred Loading
child = session.query(Child).first()  # Query for the first child
print("\nDeferred Loading (Description column):")
print(f"Child Name: {child.name}")
# The description is loaded only when accessed
print(f"Child Description (Deferred): {child.description}")

# ---------------------------------------------------------
# Example 6: Dynamic Loading for Collections
parent_dynamic = session.query(Parent).first()  # Query for the first parent
print("\nDynamic Loading (Filtered Children):")
# Query the children dynamically using the session and apply a filter to select only "Child 1"
filtered_children = session.query(Child).filter(Child.parent_id == parent_dynamic.id, Child.name == "Child 1").all()
print(f"Filtered Children: {[child.name for child in filtered_children]}")  # Only "Child 1" will be loaded

Lazy Loading (Default):
Parent: Parent 1
Children: ['Child 1', 'Child 2']

Eager Loading with joinedload:
Parent: Parent 1
Children: ['Child 1', 'Child 2']

Eager Loading with subqueryload:
Parent: Parent 1
Children: ['Child 1', 'Child 2']

Eager Loading with selectinload:
Parent: Parent 1
Children: ['Child 1', 'Child 2']

Deferred Loading (Description column):
Child Name: Child 1
Child Description (Deferred): Description of Child 1

Dynamic Loading (Filtered Children):
Filtered Children: ['Child 1']

# Insert more Parent and Child data into the existing database

In [29]:
# Insert more Parent and Child data into the existing database

# Create new parents with children
new_parent_1 = Parent(name="Parent 2", children=[Child(name="Child 3", description="Description of Child 3"),
                                                 Child(name="Child 4", description="Description of Child 4")])

new_parent_2 = Parent(name="Parent 3", children=[Child(name="Child 5", description="Description of Child 5"),
                                                 Child(name="Child 6", description="Description of Child 6")])

new_parent_3 = Parent(name="Parent 4", children=[Child(name="Child 7", description="Description of Child 7"),
                                                 Child(name="Child 8", description="Description of Child 8")])

# Add the new parents and their children to the session
session.add(new_parent_1)
session.add(new_parent_2)
session.add(new_parent_3)

# Commit the session to insert the new data into the database
session.commit()

# ---------------------------------------------------------
# Verify that the new data was inserted
print("\nInserted New Parents and Children:")
parents = session.query(Parent).all()  # Query all parents in the database
for parent in parents:
    print(f"Parent: {parent.name}")
    for child in parent.children:
        print(f"  Child: {child.name} - Description: {child.description}")

Inserted New Parents and Children:
Parent: Parent 1
  Child: Child 1 - Description: Description of Child 1
  Child: Child 2 - Description: Description of Child 2
Parent: Parent 2
  Child: Child 3 - Description: Description of Child 3
  Child: Child 4 - Description: Description of Child 4
Parent: Parent 3
  Child: Child 5 - Description: Description of Child 5
  Child: Child 6 - Description: Description of Child 6
Parent: Parent 4
  Child: Child 7 - Description: Description of Child 7
  Child: Child 8 - Description: Description of Child 8

# SQLAlchemy ORM - A NEW WAY TO CREATE COLUMNS

In [30]:
from sqlalchemy import Column, Integer, String, create_engine
from sqlalchemy.orm import DeclarativeBase, mapped_column, Mapped, registry
from typing import Optional
from typing_extensions import Annotated

# Define the SQLite database URL
bd_url = "sqlite:///coloumnbase1.db"
engine = create_engine(bd_url, echo=True)  # Create the database engine

# Define type annotations for string lengths using Annotated
str_20 = Annotated[str, 20] # String with max length 20
str_100 = Annotated[str, 100] # String with max length 100

# Custom Base class with registry for type annotation mapping
class Base(DeclarativeBase):
    registry = registry(
        type_annotation_map={
            str_20: String(20),  # Map str_20 annotation to String(20)
            str_100: String(100), # Map str_100 annotation to String(100)
        }
    )

# User Model
class UserLegacy(Base):
    __tablename__ = 'users' # Define table name

    # Define columns with type hints and mapped_column
    id: Mapped[int] = mapped_column(Integer, primary_key=True)  # Primary key column
    name: Mapped[Optional[str_20]] = mapped_column(String(20), nullable=True)  # Name column (nullable)
    age: Mapped[Optional[int]] = mapped_column(Integer, nullable=True)    # Age column (nullable)

# Create tables
Base.metadata.create_all(engine)

2025-06-30 09:57:12,314 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-06-30 09:57:12,317 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("users")

2025-06-30 09:57:12,319 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-06-30 09:57:12,321 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("users")

2025-06-30 09:57:12,323 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-06-30 09:57:12,326 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(20),
	age INTEGER,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(20),
	age INTEGER,
	PRIMARY KEY (id)
)

2025-06-30 09:57:12,329 INFO sqlalchemy.engine.Engine [no key 0.00255s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00255s] ()

2025-06-30 09:57:12,346 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

# SQLAlchemy ORM - Reduce Column Data

In [31]:
from sqlalchemy import create_engine, Column, Integer, String, Text
from sqlalchemy.orm import sessionmaker, declarative_base

# Create SQLite Database
DATABASE_URL = "sqlite:///example2.db"
engine = create_engine(DATABASE_URL, echo=True)

# Define ORM Base
Base = declarative_base()

# Define User Model
class User(Base):
    __tablename__ = "users"

    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    email = Column(String(150), unique=True)
    bio = Column(Text)  # Large text field

# Create Tables
Base.metadata.create_all(engine)

# Create Session
SessionLocal = sessionmaker(bind=engine)
session = SessionLocal()

# Insert Sample Data (Run Once)
def insert_sample_data():
    users = [
        User(name="Alice", email="alice@example.com", bio="Loves AI and ML."),
        User(name="Bob", email="bob@example.com", bio="A passionate Python developer."),
        User(name="Charlie", email="charlie@example.com", bio="Enjoys working with SQLAlchemy."),
    ]
    session.add_all(users)
    session.commit()

# Insert the sample data into the database
insert_sample_data()

# Close the session
session.close()

2025-06-30 09:57:19,032 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-06-30 09:57:19,034 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("users")

2025-06-30 09:57:19,036 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-06-30 09:57:19,038 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("users")

2025-06-30 09:57:19,040 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2025-06-30 09:57:19,043 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(100),
	email VARCHAR(150),
	bio TEXT,
	PRIMARY KEY (id),
	UNIQUE (email)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(100),
	email VARCHAR(150),
	bio TEXT,
	PRIMARY KEY (id),
	UNIQUE (email)
)

2025-06-30 09:57:19,044 INFO sqlalchemy.engine.Engine [no key 0.00184s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00184s] ()

2025-06-30 09:57:19,060 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2025-06-30 09:57:19,065 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-06-30 09:57:19,068 INFO sqlalchemy.engine.Engine INSERT INTO users (name, email, bio) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, email, bio) VALUES (?, ?, ?) RETURNING id

2025-06-30 09:57:19,070 INFO sqlalchemy.engine.Engine [generated in 0.00019s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Alice', 'alice@example.com', 'Loves AI and ML.')

INFO:sqlalchemy.engine.Engine:[generated in 0.00019s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Alice', 'alice@example.com', 'Loves AI and ML.')

2025-06-30 09:57:19,072 INFO sqlalchemy.engine.Engine INSERT INTO users (name, email, bio) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, email, bio) VALUES (?, ?, ?) RETURNING id

2025-06-30 09:57:19,074 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('Bob', 'bob@example.com', 'A passionate Python developer.')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 2/3 (ordered; batch not supported)] ('Bob', 'bob@example.com', 'A passionate Python developer.')

2025-06-30 09:57:19,075 INFO sqlalchemy.engine.Engine INSERT INTO users (name, email, bio) VALUES (?, ?, ?) RETURNING id

INFO:sqlalchemy.engine.Engine:INSERT INTO users (name, email, bio) VALUES (?, ?, ?) RETURNING id

2025-06-30 09:57:19,077 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Charlie', 'charlie@example.com', 'Enjoys working with SQLAlchemy.')

INFO:sqlalchemy.engine.Engine:[insertmanyvalues 3/3 (ordered; batch not supported)] ('Charlie', 'charlie@example.com', 'Enjoys working with SQLAlchemy.')

2025-06-30 09:57:19,079 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

# Using load_only

* load_only is used when you want to load only specific columns from a model. This is useful when you donâ€™t need all the columns and want to optimize the query.

In [32]:
from sqlalchemy.orm import load_only

# Query to load only specific columns (e.g., name and email)
users = session.query(User).options(load_only(User.name, User.email)).all()

for user in users:
    print(f"Name: {user.name}, Email: {user.email}")

2025-06-30 09:57:27,090 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2025-06-30 09:57:27,095 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.email AS users_email
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.email AS users_email
FROM users

2025-06-30 09:57:27,097 INFO sqlalchemy.engine.Engine [generated in 0.00231s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00231s] ()

Name: Alice, Email: alice@example.com
Name: Bob, Email: bob@example.com
Name: Charlie, Email: charlie@example.com

# with_entities

In [33]:
results = session.query(User).with_entities(User.id, User.name).all()
print(results)  # Returns: [(1, 'Alice'), (2, 'Bob'), (3, 'Charlie')]

2025-06-30 09:57:32,788 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name
FROM users

2025-06-30 09:57:32,791 INFO sqlalchemy.engine.Engine [generated in 0.00326s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00326s] ()

[(1, 'Alice'), (2, 'Bob'), (3, 'Charlie')]

# Query to load all columns, but defer loading of the 'bio' column

In [35]:
from sqlalchemy.orm import defer
# Query to load all columns, but defer loading of the 'bio' column
users_with_deferred_bio = session.query(User).options(defer(User.bio)).all()

for user in users_with_deferred_bio:
    print(f"Name: {user.name}, Email: {user.email}")
    # 'bio' is deferred until accessed
    print(f"Bio: {user.bio}")  # At this point, the 'bio' will be fetched

2025-06-30 10:07:54,278 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.email AS users_email
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.email AS users_email
FROM users

2025-06-30 10:07:54,293 INFO sqlalchemy.engine.Engine [generated in 0.01449s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.01449s] ()

Name: Alice, Email: alice@example.com
2025-06-30 10:07:54,304 INFO sqlalchemy.engine.Engine SELECT users.bio AS users_bio
FROM users
WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:SELECT users.bio AS users_bio
FROM users
WHERE users.id = ?

2025-06-30 10:07:54,309 INFO sqlalchemy.engine.Engine [generated in 0.00523s] (1,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00523s] (1,)

Bio: Loves AI and ML.
Name: Bob, Email: bob@example.com
2025-06-30 10:07:54,316 INFO sqlalchemy.engine.Engine SELECT users.bio AS users_bio
FROM users
WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:SELECT users.bio AS users_bio
FROM users
WHERE users.id = ?

2025-06-30 10:07:54,324 INFO sqlalchemy.engine.Engine [cached since 0.01967s ago] (2,)

INFO:sqlalchemy.engine.Engine:[cached since 0.01967s ago] (2,)

Bio: A passionate Python developer.
Name: Charlie, Email: charlie@example.com
2025-06-30 10:07:54,334 INFO sqlalchemy.engine.Engine SELECT users.bio AS users_bio
FROM users
WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:SELECT users.bio AS users_bio
FROM users
WHERE users.id = ?

2025-06-30 10:07:54,352 INFO sqlalchemy.engine.Engine [cached since 0.04795s ago] (3,)

INFO:sqlalchemy.engine.Engine:[cached since 0.04795s ago] (3,)

Bio: Enjoys working with SQLAlchemy.

# Process Large Queries Efficiently Using yield_per()
* Loads data in small batches to reduce memory usage.

In [36]:
for user in session.query(User).yield_per(2):  # Fetches 2 records at a time
    print(user.name)

2025-06-30 10:08:04,599 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.name AS users_name, users.email AS users_email, users.bio AS users_bio
FROM users

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.name AS users_name, users.email AS users_email, users.bio AS users_bio
FROM users

2025-06-30 10:08:04,602 INFO sqlalchemy.engine.Engine [generated in 0.00295s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00295s] ()

Alice
Bob
Charlie

## Python SQLAlchemy ORM - Types of JOINS

### INNER JOIN

* An INNER JOIN retrieves records that have matching values in both tables. If there is no match, the row is excluded.

In [37]:
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship
from sqlalchemy.orm import declarative_base
from sqlalchemy.orm import aliased

# Set up the database and base
DATABASE_URL = "sqlite:///example4.db"  # SQLite database
Base = declarative_base()
engine = create_engine(DATABASE_URL, echo=False)  # Engine for SQLite
Session = sessionmaker(bind=engine)  # Create session for queries
session = Session()

# Define the models
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    email = Column(String, unique=True)

class Post(Base):
    __tablename__ = 'posts'
    id = Column(Integer, primary_key=True)
    title = Column(String)
    content = Column(String)
    user_id = Column(Integer, ForeignKey('users.id'))  # Foreign key to users
    user = relationship('User', backref='posts')  # One-to-many relationship

# Create all tables (if not exist)
Base.metadata.create_all(engine)

# Insert Sample Data (Uncomment to insert data initially)
def insert_sample_data():
    users = [
        User(name="Alice", email="alice@example.com"),
        User(name="Bob", email="bob@example.com"),
        User(name="Charlie", email="charlie@example.com"),
    ]
    posts = [
        Post(title="Post 1", content="Content 1", user_id=1),
        Post(title="Post 2", content="Content 2", user_id=2),
        Post(title="Post 3", content="Content 3", user_id=2),
    ]
    session.add_all(users + posts)
    session.commit()

# Uncomment to insert data initially
insert_sample_data()

# -- INNER JOIN --
# Query using INNER JOIN: Select users who have posts
users_with_posts = session.query(User, Post).join(Post).all()
print("INNER JOIN:")
for user, post in users_with_posts:
    print(f"User: {user.name}, Post: {post.title}")
print()  # Empty line

# Close the session
session.close()

INNER JOIN:
User: Alice, Post: Post 1
User: Bob, Post: Post 2
User: Bob, Post: Post 3

### LEFT OUTER JOIN:

* This query retrieves all users and their posts, if any. The LEFT OUTER JOIN ensures that all users appear, even if they don't have posts. Users without posts will have None as their post.

In [38]:

# -- LEFT OUTER JOIN --
# Query using LEFT OUTER JOIN: Select all users and their posts (if any)
users_with_optional_posts = session.query(User, Post).join(Post, isouter=True).all()
print("LEFT OUTER JOIN:")
for user, post in users_with_optional_posts:
    post_title = post.title if post else "No Post"
    print(f"User: {user.name}, Post: {post_title}")
print()  # Empty line

LEFT OUTER JOIN:
User: Alice, Post: Post 1
User: Bob, Post: Post 2
User: Bob, Post: Post 3
User: Charlie, Post: No Post

### RIGHT OUTER JOIN (Simulated using a LEFT OUTER JOIN):

* SQLAlchemy ORM does not natively support RIGHT OUTER JOIN, so this example simulates it by reversing the tables in the LEFT OUTER JOIN.

In [39]:
# -- RIGHT OUTER JOIN (simulated) --
# Query using RIGHT OUTER JOIN: Select all posts and their associated users (if any)
# We reverse the query to simulate RIGHT OUTER JOIN by flipping the order of tables
posts_with_optional_users = session.query(Post, User).join(User, isouter=True).all()
print("RIGHT OUTER JOIN (simulated):")
for post, user in posts_with_optional_users:
    user_name = user.name if user else "No User"
    print(f"Post: {post.title}, User: {user_name}")
print()  # Empty line

RIGHT OUTER JOIN (simulated):
Post: Post 1, User: Alice
Post: Post 2, User: Bob
Post: Post 3, User: Bob

### FULL OUTER JOIN (using raw SQL):

* FULL OUTER JOIN is not directly supported by SQLAlchemy, so we use raw SQL to perform it. This query selects all users and posts, even if there's no match between them.

In [41]:
from sqlalchemy import text

sql = text("""
SELECT users.id AS user_id, users.name, posts.id AS post_id, posts.title
FROM users
LEFT JOIN posts ON users.id = posts.user_id

UNION

SELECT users.id AS user_id, users.name, posts.id AS post_id, posts.title
FROM posts
LEFT JOIN users ON users.id = posts.user_id
WHERE users.id IS NULL;
""")

result = session.execute(sql)

print("Simulated FULL OUTER JOIN:")
for row in result:
    print(row)

Simulated FULL OUTER JOIN:
(1, 'Alice', 1, 'Post 1')
(2, 'Bob', 2, 'Post 2')
(2, 'Bob', 3, 'Post 3')
(3, 'Charlie', None, None)

# Python SQLAlchemy ORM - Eager Query Options
* In SQLAlchemy ORM, eager loading refers to a strategy for retrieving related objects at the time of the initial query, rather than lazily loading them when they are accessed. This can improve performance by reducing the number of queries, especially when you know you will need the related objects right away.

* SQLAlchemy provides several options to achieve eager loading, including:

 * joinedload: Loads the related objects in the same query using a SQL JOIN.
 * subqueryload: Loads the related objects in a separate query using a subquery.
 * selectinload: Loads the related objects in a separate query using a SELECT IN query.

In [42]:
from sqlalchemy import Column, ForeignKey, Integer, String, create_engine
from sqlalchemy.orm import (
    sessionmaker,
    relationship,
    selectinload,
    joinedload,
    subqueryload,
)
from sqlalchemy.orm import declarative_base

# Define the SQLite database URL
db_url = 'sqlite:///eager_loading_example.db'

# Create an engine to connect to the SQLite database
engine = create_engine(db_url)

# Create a session factory
Session = sessionmaker(bind=engine)
session = Session()

# Base class for all models
Base = declarative_base()

# Define the User model (representing users table)
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String)

    # Define a relationship to the Post model
    posts = relationship('Post', backref='user', lazy='select')

    def __repr__(self):
        return f'<User {self.name}>'

# Define the Post model (representing posts table)
class Post(Base):
    __tablename__ = 'posts'
    id = Column(Integer, primary_key=True)
    title = Column(String)
    user_id = Column(Integer, ForeignKey('users.id'))

    def __repr__(self):
        return f'<Post {self.title}>'

# Create the tables in the database
Base.metadata.create_all(engine)

# Insert some sample data (Uncomment if you want to insert data initially)
def insert_sample_data():
    user1 = User(name="Alice")
    user1.posts = [
        Post(title="Post 1 by Alice"),
        Post(title="Post 2 by Alice")
    ]

    user2 = User(name="Bob")
    user2.posts = [
        Post(title="Post 1 by Bob")
    ]

    session.add_all([user1, user2])
    session.commit()

insert_sample_data()

# Example 1: Using joinedload for eager loading (joins related data in the same query)
print("Using joinedload:")
users_with_posts_joined = session.query(User).options(joinedload(User.posts)).all()

for user in users_with_posts_joined:
    print(f"User: {user.name}")
    for post in user.posts:
        print(f"  - Post: {post.title}")
print()

# Example 2: Using subqueryload for eager loading (loads related data with a subquery)
print("Using subqueryload:")
users_with_posts_subquery = session.query(User).options(subqueryload(User.posts)).all()

for user in users_with_posts_subquery:
    print(f"User: {user.name}")
    for post in user.posts:
        print(f"  - Post: {post.title}")
print()

# Example 3: Using selectinload for eager loading (loads related data with SELECT IN)
print("Using selectinload:")
users_with_posts_selectin = session.query(User).options(selectinload(User.posts)).all()

for user in users_with_posts_selectin:
    print(f"User: {user.name}")
    for post in user.posts:
        print(f"  - Post: {post.title}")
print()

# Close the session
session.close()

Using joinedload:
User: Alice
  - Post: Post 1 by Alice
  - Post: Post 2 by Alice
User: Bob
  - Post: Post 1 by Bob

Using subqueryload:
User: Alice
  - Post: Post 1 by Alice
  - Post: Post 2 by Alice
User: Bob
  - Post: Post 1 by Bob

Using selectinload:
User: Alice
  - Post: Post 1 by Alice
  - Post: Post 2 by Alice
User: Bob
  - Post: Post 1 by Bob